@model Paginate<Table>
@{
    int count = ((Model.CurrentPage - 1) * 10) + 1;
}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive">
                            <h4 class="m-t-0 header-title mb-4">
                                <b> Table</b>
                            </h4>
                            <div class="container mb-4">
                                <a class="btn btn-info waves-effect width-md waves-light " asp-action="Create" style="color:#ffffff  ">Add</a>
                                <a class="btn btn-info waves-effect width-md waves-light " href="~/Assets/img/@ViewBag.setting["plan"]" target="_blank" style="color:#ffffff  ">Plan</a>

                            </div>
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Table Number</th>
                                    <th>Person</th>
                                    @* <th>Status</th> *@
                                    <th>Setting</th>


                                </tr>
                                </thead>

                                <tbody>
                                @foreach (var table in Model.Items)
                                {
                                    <tr>
                                        <td>@count </td>
                                        <td>
                                            <button type="button" class="btn btn-dropbox waves-effect waves-light">
                                                @table.TableNumber
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-icon waves-effect waves-light btn-purple">
                                                @table.MaxPersonCount
                                            </button>
                                        </td>
                                        @* <td> *@
                                        @*     @if (@product.IsReserved == true) *@
                                        @*     { *@
                                        @*         <button type="button" class="btn btn-icon waves-effect waves-light btn-danger"> Reserved </button> *@
                                        @*     } *@
                                        @*     else *@
                                        @*     { *@
                                        @*         <button type="button" class="btn btn-icon waves-effect waves-light btn-primary"> Empty </button> *@
                                        @*     } *@
                                        @* *@
                                        @* </td> *@

                                        <td>

                                            <a class="btn btn-icon waves-effect waves-light btn-primary" asp-action="Detail" asp-route-id="@table.Id">
                                                <i class="mdi mdi-eye-outline"></i>
                                            </a>
                                            <a class="btn btn-icon waves-effect waves-light btn-danger" asp-action="Delete" asp-route-id="@table.Id">
                                                <i class="mdi mdi-delete-outline"></i>
                                            </a>
                                            <a class="btn btn-icon waves-effect waves-light btn-purple" asp-action="Update" asp-route-id="@table.Id">
                                                <i class="mdi mdi-pencil-outline"></i>
                                            </a>

                                        </td>

                                    </tr>


                                    count++;
                                }
                                </tbody>
                            </table>
                        </div>
                        @if (@Model.AllPageCount > 1)
                        {
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">

                                    @if (Model.CurrentPage > 1)
                                    {
                                        var prev = Model.CurrentPage - 1;
                                        <li class="page-item ">
                                            <a class="page-link" asp-action="Index" asp-route-page="@prev">Previous</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link ">Previous</a>
                                        </li>
                                    }
                                    @{
                                        if (1 < Model.AllPageCount)
                                        {
                                            var start = 1;
                                            var end = Model.AllPageCount;
                                            for (int i = start; i <= end; i++)
                                            {
                                                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                                                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                                </li>
                                            }
                                        }
                                    }
                                    @if (Model.CurrentPage < Model.AllPageCount)
                                    {
                                        var next = Model.CurrentPage + 1;
                                        <li class="page-item">
                                            <a class="page-link" asp-action="Index" asp-route-page="@next">Next</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link">Next</a>
                                        </li>
                                    }

                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>

        </div>
        <!-- end container-fluid -->

    </div>
    <!-- end content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2015 - 2021 &copy; Velonic theme by <a href="#">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>