@model MenuVM
@{
    string statusActive = "active";

    string statusActiveShow = "  active show";
    string statusActivedontShow = "container fade tab-pane";
}
<main>
<section id="Menu-logo">
    <div class="row">
        <div class="menu-logo-container col-lg-12">
           <h2 class="menu_title">Menu</h2>
        </div>
    </div>

</section>
<section id="Menu" class="menu">
<ul class="nav nav-pills justify-content-center">
    @for (int i = 0; i < @Model.ProductCategories.Count; i++)
    {
        <li class="nav-item">
            <a class="nav-link  custom-btn  @if (i == 0){@statusActive} " data-toggle="pill" href="#@Model.ProductCategories[i].Name">@Model.ProductCategories[i].Name</a>
        </li>
    }
 

</ul>
<div class="menu-content tab-content">

@if (@Model.ProductCategories.Count != 0)
{
    <div id="@Model.ProductCategories[0].Name" class='container fade tab-pane active show '>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                @if (Model.ProductCategories[0].Products != null)
                {
                    if (Model.ProductCategories[0].Products.Where(p=>p.IsDeleted==false)!=null)
                    {
                        
                    }
                    @foreach (var product in Model.ProductCategories[0].Products.Where(p=>p.IsDeleted==false))
                    {
                        <div class="menu-item">
                            <div class="menu-img">
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                    <img src="Assets/img/@product.Image" alt="Image">
                                </a>

                            </div>
                            <div class="menu-text">
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id" id="menu-link">

                                    <h3>
                                        <span>@product.Name</span> <strong>$@product.Price </strong>
                                    </h3>
                                    <p>@product.Title</p>
                                </a>

                            </div>
                        </div>
                    }
                }

            </div>
            <div class="col-lg-5 col-md-12">
                <div class="menu-img-container">
                    @if (Model.ProductCategories[0].Products.Count != 0)
                    {
                        <img src="Assets/Img/@Model.ProductCategories[0].Products[0].Image" class=" " alt="">
                    }
                </div>
            </div>
        </div>
    </div>


@for (int i = 1; i < @Model.ProductCategories.Count; i++)
{
    <div id="@Model.ProductCategories[i].Name" class='container fade tab-pane  '>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                @if (Model.ProductCategories[i].Products != null)
                {
                    @foreach (var product in Model.ProductCategories[i].Products.Where(p=>p.IsDeleted==false))
                    {
                        <div class="menu-item">
                            <div class="menu-img">
                                <a  asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                    <img src="Assets/img/@product.Image" alt="Image">
                                </a>
                            </div>
                            <div class="menu-text">
                                <a id="menu-link" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                    <h3>
                                        <span>@product.Name</span> <strong>$@product.Price </strong>
                                    </h3>
                                    <p>@product.Title</p>
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>
            <div class="col-lg-5 col-md-12">
                <div class="menu-img-container">
                    @if (Model.ProductCategories[i].Products != null && Model.ProductCategories[i].Products.Count != 0)
                    {
                        <img src="Assets/Img/@Model.ProductCategories[i].Products[0].Image" class=" " alt="">
                    }
                </div>
            </div>
        </div>
    </div>
}
}





@* <div id="drink" class="container fade tab-pane active show "> *@
@*     <div class="row"> *@
@*         <div class="col-lg-7 col-md-12"> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Single Cup Brew</span> <strong>$7.00 </strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Caffe Americano</span> <strong>$9.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Caramel Macchiato</span> <strong>$15.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Standard black coffee</span> <strong>$8.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Standard black coffee</span> <strong>$12.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Single Cup Brew</span> <strong>$7.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Caffe Americano</span> <strong>$9.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Caramel Macchiato</span> <strong>$15.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Standard black coffee</span> <strong>$8.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/img/menu-beverage.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Standard black coffee</span> <strong>$12.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="col-lg-5 col-md-12"> *@
@*             <div class="menu-img-container"> *@
@*                 <img src="Assets/Img/menudrinksm1.jpg" class=" " alt=""> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <div id="burger" class="container tab-pane fade"> *@
@*     <div class="row"> *@
@*         <div class="col-lg-7 col-md-12"> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/Img/menu-burger.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Single Cup Brew</span> <strong>$7.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/Img/menu-burger.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Single Cup Brew</span> <strong>$7.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/Img/menu-burger.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Single Cup Brew</span> <strong>$7.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*         </div> *@
@*         <div class="col-lg-5 col-md-12"> *@
@*             <div class="menu-img-container"> *@
@*                 <img src="Assets/Img/menu-burger-img.jpg" class=" " alt=""> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <div id="meat" class="container tab-pane fade"> *@
@*     <div class="row"> *@
@*         <div class="col-lg-7 col-md-12"> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/Img/menu-burger.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>meat</span> <strong>$7.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/Img/menu-burger.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Single Cup Brew</span> <strong>$7.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="menu-item"> *@
@*                 <div class="menu-img"> *@
@*                     <img src="Assets/Img/menu-burger.jpg" alt="Image"> *@
@*                 </div> *@
@*                 <div class="menu-text"> *@
@*                     <h3> *@
@*                         <span>Single Cup Brew</span> <strong>$7.00</strong> *@
@*                     </h3> *@
@*                     <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*         </div> *@
@*         <div class="col-lg-5 col-md-12"> *@
@*             <div class="menu-img-container"> *@
@*                 <img src="Assets/Img/menu-burger-img.jpg" class=" " alt=""> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

</div>
</section>
</main>