@model Business.ViewModels.Comment.CommentVM
@{
    var deletereturnurl = Context.Request.Path.ToString() + "?id=" + @Model.Product.Id;
    int commentcount = Model.Product.Comments.Where(p=>p.IsDeleted==false).Count();
}

<main>
    <section id="Product">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="~/Assets/Img/@Model.Product.Image" class="product_image" alt="">
                </div>
                <div class="col-lg-6 product_content">
                    <h4>@Model.Product.Name</h4>
                    <span>@TimeZoneInfo.ConvertTime(Model.Product.CreatedAt, TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time")).AddHours(13).ToString("MM/dd/yyyy HH:mm")/ @commentcount Comment</span>
                    <p>
                        @Model.Product.Description
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="Comment">
        <div class="container pr_cover">
            @if (commentcount > 0)
            {
                <div class="col-lg-12">
                    <h4>@commentcount COMMENT</h4>
                    <ul class="comments">
                        @foreach (var comment in Model.Product.Comments)
                        {
                            if (comment.IsDeleted == true) continue;

                            <li>
                                <img src="~/Assets/Img/user.jpg" class="comment_image" alt="image" title="image">
                                <div class="content_post">
                                    <h5>@comment.FullName</h5>
                                    <span>@comment.CreatedAt.ToString("MM/dd/yyyy HH:mm")</span>
                                    <p>
                                        @comment.CommentContent
                                    </p>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@comment.Id" asp-route-returnurl="@deletereturnurl">Delete</a>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="Comment_form">
                <h4>ADD COMMENT</h4>
                <form method="post" class="comment_form">
                    <div class="row">
                        <div class="col-md-6 ">
                            <input asp-for="FullName" parsley-trigger="change" required placeholder="FullName" class="comment_form_control">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="Email" parsley-trigger="change" required placeholder="Email" class="comment_form_control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input asp-for="Subject" parsley-trigger="change" required placeholder="Subject" class="comment_form_control">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <textarea asp-for="CommentContent"  class="textarea_contact"  ></textarea>
                            <span asp-validation-for="CommentContent" class="text-danger"></span>
                        </div>
                        @* <input asp-for="ProductId" value="@Model.Product.Id" type="hidden"> *@
                        <div class="col-md-12">
                            <button type="submit" class="send_comment_btn">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>